.tabsp6{
    width: 100%;
display: flex;
align-items: flex-end;
justify-content: center;
flex-direction: column;
margin-top: 20px;
}

.tabsp6 .tabs{
display: flex;
justify-content: flex-end;
gap: 20px;
border-top: 1px solid rgba(0, 0, 0, 0.224);
width: 100%;

}
.bordertop-white{
    border-top: 1px solid rgba(255, 255, 255, 0.224)!important;
}
.tabsp6 .tabs a{
color: black;
text-decoration: none;
padding: 10px;
width: 150px;
text-align: center;
-webkit-tap-highlight-color: transparent;

}
.lightfocus{
border-top: 1px solid black;
}
.darkfocus{
    border-top: 1px solid rgb(255, 255, 255);
    }
.imagesnam{


  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  flex-wrap: wrap;

}











