.containerHome{
    background: linear-gradient(to bottom right, #50a3a2 0%, #2eca7f 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homebody{
    display: flex;
    width: 90%;
  flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
}

.slide1{
    width: 7%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.slide1body{
    background-color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    
}

.slide1body div{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.slide1body div:hover{
    opacity: 0.5;
    transition: all 1s;
}
.active{
    color:#2eca7f;
    transition: all 1s;
}
.slide1body div svg{
    font-size: 40px;
}
.underline{
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
}
.section2home{
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row-reverse;
}
.slide2{
    width: 40%;
    background-color: white;
    height: 650px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.188);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.slide3{
    width: 60%;
   overflow: hidden;
    height: 700px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



@media screen and (max-width: 1100px) {
    .d-none{
       display: none;
    }
    .slide3{
        height: auto!important;
    }
.homebody{
    width: 95%;
    margin-top: 10px;
    flex-direction: column;
}
.section2home{
    flex-direction: column;
 
}
.slide3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.slide1 ,.section2home,.slide3,.slide2{
    width: 100%;
}
.slide1body {
    display: flex;
}
.slide3body{
    border-radius: 10px;
}
.underline{
    border-bottom: none;
}
}


@media screen and (max-width: 1281px) {
    .slide1body {
      font-size: 13px;
    }

}


@media screen and (max-width: 1102px) {   
    .slide1body {
    font-size: 11px;
  }
}

.slide3body{
    direction: rtl;
    background-color: white;
    height: 100%;
    width: 100%;
  overflow: auto;
animation: slide3anim 1s;

   
}


@keyframes slide3anim {
    0%{transform: translate(1000px,0);opacity: 0;}
}