.previewtshirt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
   
}
.tshirtdone{
    font-family: pinar;
    font-weight: 800;
    font-size: 28px;
    margin:5% 0;
    width: 100%;
    text-align: right;
}
