.footershopp7{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #2e2e34;
    padding: 30px 30px 10px 30px;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 15px;
  }
  .socialfooterp7{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  
  }
  .socialfooterp7 svg{
    border-radius: 15px;
    background-color: #17171f;
    padding: 10px;
    margin: 5px;
    font-size: 50px;
  }