.aboutme{
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-direction: column;
}

.aboutmetext{
    text-align: justify;
    margin-top: 10px;
   width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
display: flex;
align-items: right;
justify-content: space-between;
flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    animation: animbox 2s;
}
.aboutmetext2{
    text-align: justify;
    margin-top: 10px;
   
  border: 1px dashed green;
    padding: 10px;
    border-radius: 10px;
   
}

.underabout{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%
}
.tagme{
    background-color: #38b486;
    color: white;
    padding:0px 10px;
  
    border-radius: 15px;
    margin: 10px;
    width: 120px;
    text-align: center;
}
.aboutmebody{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@keyframes animbox {
    0%{transform: translate(1000px,0);opacity: 0;}
}
@keyframes animboxleft {
    0%{transform: translate(-1000px,0);opacity: 0;}
}