@font-face {
  font-family: vazir;
  src: url('../public/Fonts/Vazir.ttf');
}
@font-face {
  font-family: pinar;
  src: url('../public/Fonts/Pinar.ttf');
}
@font-face {
  font-family: 'Yekan Bakh';
  src: local('Yekan Bakh Light'), local('Yekan-Bakh-Light'),
      url('../public/Fonts/YekanBakh-Light.woff2') format('woff2'),
      url('../public/Fonts/YekanBakh-Light.woff') format('woff'),
      url('../public/Fonts/YekanBakh-Light.ttf') format('truetype');

}

body{
  font-family: vazir;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: vazir;
  opacity: 0.5;
}